.switch-container {
    /*defining variables can be passed why inline style for switch*/
    --size: 1em;

    --colorOn: #68B984;
    --colorOff: white;
    --colorCircleOn: white;
    --colorCircleOff: grey;
    --textActiveColor: black;
    --textActiveWt: 600;
    --textDefaultColor: #777;
}

.switch-container {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: calc(var(--size) * 0.3);
    flex: 0 0 0; /*if inside a flex body*/
    user-select: none;
}

.switch-left, .switch-right {
    font-size: calc(var(--size) * 0.8);
}

.switch {
    --width: calc(var(--size) * 2);
    --height: calc(var(--width) * 0.5);
    width: var(--width);
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    border: 1px solid var(--colorCircleOff);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.switch-on {
    justify-content: end;
    background-color: var(--colorOn);
}

.switch-off {
    justify-content: start;
    background-color: var(--colorOff);
}

.switch-circle {
    --margin: 1px;
    border-radius: 50%;
    width: calc(var(--width) * 0.5 - 2 * var(--margin));
    height: calc(var(--height) - 2 * var(--margin));
    margin: var(--margin)  var(--margin)/2;
    background-color: var(--colorCircleOff);
}

.switch-on .switch-circle {
    background-color: var(--colorCircleOn);
}

.switch-left, .switch-right {
    color: var(--textDefaultColor);
}

.active {
    color: var(--textActiveColor);
    font-weight: var(--textActiveWt);
}
